
@media (min-width: 992px) and (max-width: 1199px) {  }

@media (min-width: 768px) and (max-width: 991px) {
	
	.navbar-expand-md .navbar-nav .nav-link { padding-left: 0.6rem; padding-right: 0.6rem; }

	.section-description p { padding: 0; }

}

@media (max-width: 767px) {
	
	.navbar.navbar-no-bg { background: #444; }
	.navbar-dark .navbar-toggler { border-color: #444; }
	.navbar-dark .navbar-toggler:focus { background: #333; outline: 0; }
	.navbar-expand-md .navbar-nav .nav-link { padding-top: 0.3rem; padding-bottom: 0.3rem; }

	.inner-bg { padding: 100px 0 80px 0; }
	
	.section-description p { padding: 0; }
	
	.form-2-box legend.col-form-label { text-align: left; }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 115px 43px !important;
    }
	
}
