@charset "UTF-8";
    .card-container {
	    background-color:#fff;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
        border-radius: 4px;
        margin-bottom: 3px;           
        cursor: pointer;
	    display: inline-block;
	    position: relative;
	    transition: 0.5s;
	    width: 100%;	
	  }
	
	.card-container:after {
	  content: '»';
	  position: absolute;
	  opacity: 0;  
	  top: 0px;
	  /*right: -20px; */
	  transition: 0.5s;
	}
	
	.card-container:hover{
	  background: #E0EAFC;  /* fallback for old browsers */
	  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	
	.card-container:hover:after {
	   opacity: 1;   
	   right: 10px; 
	} 
	
	.card-container .card-body{
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        display: inline-flex; 
        justify-content: space-evenly;      
    }
    .card-container .card-body .card-chart-container,.card-icon-container{
        width: 30%;
        text-align: center;
        vertical-align: middle; 
        font-weight: 12px;
    }
    .card-container .card-body .card-detail-container{          
        width: 68%;
        vertical-align: middle; 
    }
    .card-container .card-body>div{
        display: inline-block;
    }
    .card-container .card-body .card-detail-container>div{
        display: inline-block;
        width:24%;
        text-align:center;
        font-weight: 12px;
    }
    .card-container .card-body .card-detail-container>div:not(:last-child){
    	border-right: 1px solid #efefef;
    }
    
    .cardactive{   
	    background: #457fca;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	    color:#fff;
     } 